<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="..\statique\style2.css">
	<title>BaobabBrain</title>
</head>
<body>
    <div class="container" id="header">
        <div class="forme-header">
            <nav>
                <img src="..\asset\LOGOTYPR BAOBAB BRAIN-03 (1).svg" alt="BaobabBrain" class="logo">            
                <input type="search" placeholder="rechercher un cours">           
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cours">Course</a></li>
                    <li><a href="#prof">Our Prof</a></li>
                    <li>
                        <button class="btn" id="displayForm">Starting</button>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="base">
            <div class="slogan">
                <h2>Apprenez à votre propre rythme, 
                    où que vous soyez
                </h2>
                <p>Nous croyons que l'apprentissage en ligne peut être une 
                    expérience enrichissante et engageante, et nous nous 
                    engageons à aider nos utilisateurs à atteindre leurs 
                    objectifs d'apprentissage à chaque 
                    étape du parcours.
                </p>
            </div>
            <div>
                <img src="..\asset\AdobeStock_531325111_Preview.png" alt="" class="egerie">
            </div>
        </div>
        <section class="formulaire">
            <div class="sec-container">
                <div class="form-wrapper">
                    <div class="card">
                        <div class="card-header">
                            <div id="forlogin" class="form-header active">Se connecter</div>
                            <div id="forRegister" class="form-header">S'inscrire</div>
                        </div>                     
                        <div class="card-body" id="formcontainer">
                            <form  id="formlogin">
                                <input type="text" class="form-control" placeholder="@utisateur" required>
                                <input type="password" class="form-control" placeholder="@password" requered>
                                <button class="formbutton">connexion</button>
                            </form>
                            <form  id="formregister" class="toggleForm">
                                <input type="text" class="form-control" placeholder="Prenom Nom" required>
                                <input type="text" class="form-control" placeholder="@utisateur" required>
                                <input type="email" class="form-control" placeholder="xxx@gmail.com" required>
                                <input type="password" class="form-control" placeholder="@password" required>
                                <input type="password" class="form-control" placeholder="@confirmer password" requered>
                                <button class="formbutton">inscription</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="About" id="about">
        <div >
            <img src="..\asset\AdobeStock_573516161_Preview.png" alt="" class="imag">
        </div>
        <div class="text-container">
            <h1 class="titre">ABOUT</h1>
            <img src="..\asset\Vector.svg" class="vector">
            <div class="text">
                <p>Notre site de e-learning propose 
                    des cours en ligne de qualité dans une
                    grande variété de domaines. Nous
                    sommes déterminés à offrir une expérience 
                    d'apprentissage engageante et interactive,
                    avec des instructeurs experts dans leur 
                    domaine et une plateforme de e-learning
                    intuitive et facile à utiliser. Notre mission
                    est d'aider nos utilisateurs à atteindre leurs 
                    objectifs d'apprentissage, que ce soit pour
                    développer de nouvelles compétences 
                    professionnelles ou pour améliorer
                    leur vie personnelle. N'hésitez pas à 
                    nous contacter pour toute question ou
                    préoccupation.
                </p>
            </div>
            </div>
    </section>

    <section class="cours" id="cours">
       <h1 class="titres">Nos cours</h1>
       <div class="containe">
            <div class="box">
                <img src="" alt="Cours 1">
                <h2>Cours 1</h2>
                <p>Description du cours 1</p>
            </div>
            <div class="box">
                <img src="" alt="Cours 2">
                <h2>Cours 2</h2>
                <p>Description du cours 2</p>
            </div>
            <div class="box">
                <img src="" alt="Cours 3">
                <h2>Cours 3</h2>
                <p>Description du cours 3</p>
            </div>
        </div>
    </section>
    <section>
        <div>
            <p>+100</p>
            <p>+240</p>
            <p>+70</p>
            <p>+1000</p>
        </div>
    </section>
    <section class="cours" id="prof">
        <h1 class="titres">Nos enseignants</h1>
        <div class="containe">
             <div class="box">
                 <img src="" alt="Cours 1">
                 <h2> Dr Mandicou Ba</h2>
                 <p>Description du Prof</p>
             </div>
             <div class="box">
                 <img src="" alt="Cours 2">
                 <h2>Dr Mouhamed Diop</h2>
                 <p>Description du prof</p>
             </div>
             <div class="box">
                 <img src="" alt="Cours 3">
                 <h2>Dr Doudou Fall</h2>
                 <p>Description du cours 3</p>
             </div>
         </div>
     </section>
 
    <footer class="footer">
        <img src="..\asset\LOGOTYPR BAOBAB BRAIN-03 (1).svg" alt="BaobabBrain" class="logos">            
        <div>
            <h3>Lien</h3>
            <ul>                
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <h3>entreprise</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            <h3>social</h3>
            <ul>
                <li><a href="https://www.facebook.com/BaobabBrain/">Facebook</a></li>
                <li><a href="https://www.instagram.com/baobabbrain/">Instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCX___9-Z___9-________g">Youtube</a></li>
            </ul>
        </div>
    </footer>
    <script src="..\statique\form.js"></script>
</body>
</html>